BasedOnStyle: LLVM
ColumnLimit: 78
SpaceAfterCStyleCast: true

---
Language: Cpp
BreakBeforeBraces: GNU
IndentCaseLabels: true
PointerAlignment: Middle
Standard: Cpp11

---
Language: Java
BreakBeforeBraces: Attach
